@model CommentViewModel

@if (Model.IsDeleted)
{
    <li class="dapi-100_comment dapi-100_depth-@(Model.Depth + 1)">
        <div class="dapi-100_comment-box">
            <div class="dapi-100_comment-author dapi-100_meta">
            </div>
            <div class="dapi-100_comment-text dapi-100_md-content">
                <p>Message deleted</p>
            </div>
        </div>
    </li>
}
else
{
    <li id="@Model.Id" class="dapi-100_comment dapi-100_depth-@(Model.Depth + 1)">
        <div class="dapi-100_avatar">
            <a href="@Model.ProfileUrl">
                @if (!Model.HasAvatar)
                {
                    <img src="data:image/png;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" alt="">
                }
                else
                {
                    <img src="@Model.AvatarUrl" alt="">
                }
            </a>
        </div>
        <div class="dapi-100_comment-box">
            <div class="dapi-100_comment-author dapi-100_meta">
                @* Todo here : load timezone from user side *@
                <strong>@Model.Author</strong> @SharedUtils.Helpers.PrettifyDate(Model.PostDate, TimeZoneInfo.Local, ViewBag.LangCode)
                @if (!ViewBag.IsGuest && Model.Depth < 3)
                {
                    <a data-author="@Model.Author" data-id="@Model.Id" href="javascript:void(0)" class="dapi-100_comment-reply-link"> Reply</a>
                }
                @if (ViewBag.AuthorId == Model.AuthorId)
                {
                    <a href="javascript:void(0)" class="dapi-100_button dapi-100_delete" data-id="@Model.Id">
                        <i class="fa fa-trash" aria-hidden="true"></i>
                    </a>
                    <a href="javascript:void(0)" class="dapi-100_button dapi-100_edit" data-id="@Model.Id">
                        <i class="fa fa-pencil" aria-hidden="true"></i>
                    </a>
                }
            </div>
            <input type="hidden" id="dapi-100_comment-text-@Model.Id" value="@Model.Content" />
            <div class="dapi-100_comment-text dapi-100_md-content">
                <p>@Model.Content</p>
            </div>
        </div>
    </li>
}

@await Component.InvokeAsync("CommentList", new { source = ViewBag.SourcePlatformId, page = ViewBag.PublicIdentifier, parent = Model.Id, depth = (byte)(Model.Depth + 1) })